<!-- Off screen navigation -->
<div id="sidr">
  <ul>  
    <li>
    <%= link_to '#', class: "side-logo" do %>
      MyStore
      <span class="logo-dot accent-bg"></span>
    <% end %>
    </li>
    <li class="active">
      <%= link_to "Chair", root_path %>
    </li>
    <li class="divider"><span></span></li>
    <li>
      <%= link_to "Privacy", root_path %>
    </li>
    <li>
      <%= link_to "Terms & conditions", root_path %>
    <li>
    
  </ul>

  <div class="side-social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
</div>

<div class="nav-container">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          Chair<span class="logo-dot accent-bg"></span>
        <% end %>

        <a href="#sidr" class="side-menu-opener mobile">
          <div class="bars">
                <span class="bar top"></span>
                <span class="bar middle"></span>
                <span class="bar bottom"></span>
            </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-navigation">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="./index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Home <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                  <li class="active"><a href="./index.html">Home Grid</a></li>
                  <li><a href="./index-list.html">Home List</a></li>
                  <li><a href="./index-full-width.html">Home Full</a></li>
                  <li><a href="./index-slider.html">Home Slider</a></li>
              </ul>
          </li>
          <li><a href="./about.html">About</a></li>
          <li class="dropdown">
              <a href="./catalog.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Catalog <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="./catalog.html">Catalog Grid</a></li>
                  <li><a href="./catalog-list.html">Catalog List</a></li>
                  <li><a href="./catalog-full-width.html">Catalog Full</a></li>
                  <li><a href="./product.html">Single Product</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="./blog.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Blog <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="./blog.html">Blog</a></li>
                  <li><a href="./blog-list.html">Blog List</a></li>
                  <li><a href="./blog-single.html">Blog Single</a></li>
              </ul>
          </li>
          <li><a href="./contact.html"><i class="fa fa-paper-plane"></i> Contact</a></li>
          <li><a href="#" class="menu-cart"><i class="fa fa-shopping-cart"></i> $0.00</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#sidr" class="side-menu-opener">
              <div class="bars">
                    <span class="bar top"></span>
                    <span class="bar middle"></span>
                    <span class="bar bottom"></span>
                </div>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</div>